mixin experience_section()
    section(id="experience").experience
        div.experience__wrap.container
            +title("Explore", "my", "experience", "experience__title")
            div.experience__slider
                div.experience__slider-dots
                    div.experience__slider-dot.experience__slider-dot_active
                        div.experience__slider-dot-subtitle October &mdash; August
                        div.experience__slider-dot-title 2018 &mdash; 2020
                    div.experience__slider-dot
                        div.experience__slider-dot-subtitle August &mdash; August
                        div.experience__slider-dot-title 2020 &mdash; 2021
                    div.experience__slider-dot
                        div.experience__slider-dot-subtitle August &mdash; Present
                        div.experience__slider-dot-title 2021 &mdash; now
                div.experience__select.select-box
                    div.experience__select-active.select-box__selected
                        .select-box__selected-text
                            span.select-box__selected-text-subtitle.select-box__list-item-subtitle.
                                October &mdash; August
                            span.select-box__selected-text-title.select-box__list-item-title.
                                2018 &mdash; 2020
                        svg.select-box__selected-icon
                            use(xlink:href="./assets/images/svg/symbol/sprite.svg#select-arrow")
                    ul.experience__select-list.select-box__list
                        li.select-box__list-item.select-box__list-item_selected
                            span.select-box__list-item-subtitle.
                                October &mdash; August
                            span.select-box__list-item-title.
                                2018 &mdash; 2020
                        li.select-box__list-item
                            span.select-box__list-item-subtitle.
                                August &mdash; August
                            span.select-box__list-item-title.
                                2020 &mdash; 2021
                        li.select-box__list-item
                            span.select-box__list-item-subtitle.
                                August &mdash; Present
                            span.select-box__list-item-title.
                                2021 &mdash; Nowadays
                div.experience__slides
                    div.experience__slide.experience__slide_active
                        picture.experience__slide-img
                            source(srcset="./assets/images/webp/experience-img_1.webp" type="image/webp")
                            img(src="./assets/images/experience-img_1.png" alt="photo")
                        div.experience__slide-subtitle Company name
                        h3.experience__slide-title Freelance
                        p.experience__slide-text.
                            There was start my way as a frontend developer. After some frontend courses I decided to
                            continue work as a freelancer: try to find orders, chat with clients and colleagues a lot etc.
                            </br></br>
                            To be honest it was only way how i could to start build my career as a developer because on
                            that moment a studied at college. For that period i made not many projects (about 10-20 sites)
                            because all my attention was directed to getting a middle-specialty degree.
                            </br></br>
                            After college i wanted to continue my study at university, but fail my exams.... So, after
                            this failure i decided to find a real job because i want to get new experience such as:
                            teamwork, solve unusual tasks etc.
                            </br></br>
                            And the first place where i went to work was Apple Service Center.
                        +button('accent_transparent', 'experience__slide-button', 'check my CV', 'link', '#')
                    div.experience__slide
                        picture.experience__slide-img
                            source(srcset="./assets/images/webp/experience-img_1.webp" type="image/webp")
                            img(src="./assets/images/experience-img_1.png" alt="photo")
                        div.experience__slide-subtitle Company name
                        h3.experience__slide-title Apple Service Center
                        p.experience__slide-text.
                            I was hire as a junior Frontend Developer / Web-producer, but in a couple of weeks i also
                            get responsibility for make design templates for new sites.
                            </br></br>
                            To be honest I wasn't happy when heard this news, because i never liked this part of my work,
                            even when I worked as a freelancer I often delegated design part to professionals.
                            </br></br>
                            However i really glad for this new experience. Yes, I still don't like make a design for
                            sites and applications, but I worked with a lot of projects on which mastered some base
                            design principles and now I can make design for websites or (maybe) web-applications more
                            useful and handy.
                        +button('accent_transparent', 'experience__slide-button', 'check my CV', 'link', '#')
                    div.experience__slide
                        picture.experience__slide-img
                            source(srcset="./assets/images/webp/experience-img_1.webp" type="image/webp")
                            img(src="./assets/images/experience-img_1.png" alt="photo")
                        div.experience__slide-subtitle Company name
                        h3.experience__slide-title Citibank
                        p.experience__slide-text.
                            Here I work as a web-master: create new site pages, work with email distributions etc..
                            It`s a really cool place with great conditionals of work and I`m really happy that I can work
                            here, but...
                            </br></br>
                            I want something more, want grow up as a developer: make apps with difficult structure
                            and business logic, which will be helpful for other people. This is my main purpose
                            (and big salary of course :))
                        +button('accent_transparent', 'experience__slide-button', 'check my CV', 'link', '#')